@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  
}
.main {
  display: grid;
  grid-template-columns: 20% 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'sidebar main' 'sidebar main';
}

.sidebar {
  grid-area: sidebar;
  transition: 0.5s;
}

.content, .info, .data, .card, .acordeon, .footer, .mapa{
  grid-area: main;
  text-align: center;

}
.clicked{
  border-bottom: 3px solid grey;
  

}

.sidebar-closed {
  grid-template-areas: 'main main' 'main main';
  
}



nav > ul >li > a{
 
  width: 100%;
}
.lista{
  background-color: #E4F0FF;
}
.esconder{
  display: none;
}

.mostrar{
  display: block;
}
.accordion .flipY {
  transform: rotate3d(1, 0, 0, 180deg);
}

.accordion svg {
  transition: all 1s cubic-bezier(0, .5, 0, 1);
}
.headers{
  background-color: #1974E5;
}
.callto{
  background-color: #0A1D43;
}
.footer{
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.realFooter{
  background: linear-gradient(239.77deg, rgba(35, 174, 253, 0.7) -7.35%, rgba(0, 99, 198, 0.7) 67.87%, rgba(2, 104, 206, 0.7) 67.87%);
}

#map {
  width: 100%;
  height: 40rem; }
  .icono{
    color: blue;
  }